<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="myApp">
	<div ng-controller="DemoController">
		<h1>Module creation in angularJs using Factory() function</h1>
		<hr />
		First Number: <input ng-model="val1" /><br>
		<br> Second Number: <input ng-model="val2" /><br>
		<br> <input type="button" value="Sum" ng-click="sum()" /> &nbsp; &nbsp; 
		<input type="button" value="Sub" ng-click="sub()" /> &nbsp; &nbsp;
		<input type="button" value="Mul" ng-click="mul()" /> &nbsp; &nbsp;
		<input type="button" value="Div" ng-click="div()" /> &nbsp; &nbsp;
		<h2>Result: {{result}}</h2>
	</div>
	<script src="scripts/angular.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>