<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="myApp">
	<h2>Developing service in AngularJS</h2>
	<hr/>
	<div ng-controller="DemoController">
		User Name: <input ng-model="uname"/>
		<br><br>
		Password: <input ng-model="password"/>
		<br><br>
		<input type="button" ng-click="f1()" value="login"/>
		<h2>{{str}}</h2>
	</div>
	<script src="scripts/angular.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>